/*
  format
*/
$min-width:1226px;  // container rigion

// font size
$fontA:       80px; // h1
$fontB:       38px; // h2
$fontC:       28px; // navigation header
$fontD:       26px; // product header
$fontE:       24px; 
$fontF:       22px;
$fontG:       20px; // button font size
$fontH:       18px; // general font size
$fontI:       16px; // sub font size
$fontJ:       14px; // information
$fontK:       12px; // system default

// color
$colorA:      #56ccfa !default; // button icon
$colorB:      #333333 !default; // important font color
$colorC:      #666666 !default; // navigation color
$colorD:      #999999 !default; // sub color
$colorE:      #cccccc !default; // not important color
$colorF:      #d7d7d7 !default; // devide line
$colorG:      #ffffff !default; // navigation font color
$colorH:      #e5e5e5 !default; // box border color
$colorI:      #000000 !default; // black
$colorJ:      #F5F5F5 !default; // alert background color
$colorK:      #FFFAF7 !default; // order font color